* {
	border: 0;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
input {
	font-weight: bold;
	height: 30px;
	width: 100%;
	text-align: center;
}
input:focus {
	outline: 0;
}
ul {
	list-style-type: none;
}
li {

}
.venue {
	padding: 5px;
	border-bottom: 1px solid #DDDDDD;
	height: auto;
}
.venue:hover {
	background-color: #00cc00;
}
.venueLeft {
	display: inline-block;
	width: 210px;
}
.venueRight {
	display: inline-block;
	float: right;
	width: 100px;
}
.venueName {
	font-weight: bold;
	font-size: 11pt;
}
.description {
	font-style: italic;
	font-size: 10pt;
}
.vegLevel {
	font-size: 8pt;
	color: #2D8C12;
	float: right;

}
.cuisine {
	font-size: 8pt;
	float: right;
}
.error {
	border-top: 3px solid #ff2222;
	color: #ff2222;
	text-align: center;
}
.infowindow {
	height: 200px;
	width: 200px;
}
.info-title {
	font-weight: bold;
}
#map-canvas {
	width: 100%;
	height: 100%;
}
#legend {
	background-color: #fff;
	border: 3px solid #000;
	padding: 5px;
	width: 200px;
	position: fixed;
	left: 5px;
	bottom: 5px;
	z-index: 1001;
	display: none;
}
#location-search {
	background-color: #fff;
	box-shadow: 5px 5px 2px #444444;
	border-radius: 8px;
	padding: 5px;
	position: fixed;
	left: 50%;
	bottom: 0;
	width: 170px;
	margin-left: -85px;
	z-index: 1100;
}
#result-search {
	border: 3px solid #2D8C12;
	display: flex;
}
#result-list {
	height: 600px;
	overflow: auto;
}
#info-window {
	background-color: #fff;
	width: 100%;
	max-height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
}
#info-toggle {
	width: 40px;
	background-color: #2D8C12;
	color: #fff;
	font-size: 30px;
	outline: 0;
	font-weight: 1000;
	flex-shrink: 0	;
}


@media (min-width: 401px) {
	#info-window {
		background-color: #fff;
		width: 350px;
		max-height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
	}
	.venue {
		padding: 5px;
		border-bottom: 1px solid #DDDDDD;
		height: auto;
	}
	.venueLeft {
		display: inline-block;
		width: 210px;
	}
	.venueRight {
		display: inline-block;
		float: right;
		width: 100px;
	}
	#legend {
	display: block;
}
}